* {
  padding: 0;
  margin: 0;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;

  .modal-content {
    background-color: transparent;
    display: flex;
    border: none;
  }
  
  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


