.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px - 6px;
    height: 48px - 6px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #00ffc3;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
